@charset "UTF-8";
/*
 * This file should only comprise of @imports.
 * Place all styles in appropriately named files.
 * See the ToC in _application.scss
 */
/* Bourbon & Neat
 * -----------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base
 * -----------------------------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-2qviq2");
  src: url("../fonts/icomoon.eot?#iefix-2qviq2") format("embedded-opentype"), url("../fonts/icomoon.ttf?-2qviq2") format("truetype"), url("../fonts/icomoon.woff?-2qviq2") format("woff"), url("../fonts/icomoon.svg?-2qviq2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-edit:before {
  content: "\f044"; }

.icon-group:before {
  content: "\e600"; }

.icon-location2:before {
  content: "\e601"; }

.type-system-geometric {
  *zoom: 1;
  font-family: "Questrial", sans-serif;
  text-align: left; }
  .type-system-geometric:before, .type-system-geometric:after {
    content: " ";
    display: table; }
  .type-system-geometric:after {
    clear: both; }
  .type-system-geometric h1, .type-system-geometric h2, .type-system-geometric h3, .type-system-geometric p {
    margin: 0; }
  .type-system-geometric hr {
    border-bottom: 1px solid #DDD;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0; }
  .type-system-geometric p {
    color: #333;
    line-height: 1.5em; }
  .type-system-geometric a {
    color: #b2c559;
    text-decoration: none; }
  .type-system-geometric .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Questrial", sans-serif;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0;
    text-align: left;
    text-transform: uppercase; }
  .type-system-geometric h1 {
    font-family: "Sanchez", serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 40em) {
      .type-system-geometric h1 {
        font-size: 2.6em; } }
  .type-system-geometric h2 {
    font-family: "Sanchez", serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.1em; }
    @media screen and (min-width: 40em) {
      .type-system-geometric h2 {
        font-size: 1.3em; } }
  .type-system-geometric code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-size: 0.7em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  .type-system-geometric h3 {
    font-family: "Sanchez", serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em; }
  .type-system-geometric p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "Sanchez", serif;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.3em; }
  .type-system-geometric p {
    font-family: "Questrial", sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
    margin-bottom: 1.5em; }
  .type-system-geometric a.read-more {
    display: inline-block;
    font-family: "Questrial", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    .type-system-geometric a.read-more span {
      font-family: "Questrial", sans-serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px; }
  .type-system-geometric hr {
    width: 3em; }
  .type-system-geometric p.author {
    font-family: "Questrial", sans-serif; }

a.btn {
  background: #b1c658;
  border: 2px solid #b1c658;
  border-radius: 38px;
  color: #fff;
  display: block;
  float: left;
  font-size: .85em;
  font-weight: 700;
  margin: 1.6% 0 0;
  padding: 14px 35px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (min-width: 768px) {
    a.btn {
      font-size: 0.8125em; } }
  a.btn span {
    font-size: 1.1em;
    margin-left: 7px; }
  a.btn:hover {
    background-color: transparent;
    border: 2px solid #b1c658;
    color: #b1c658; }

/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/
/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */
.wrapper {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  margin-top: 70px;
  max-width: 68em;
  padding: 0 4%; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0; } }

.bullets {
  margin-bottom: 1.5em;
  margin: 1em;
  overflow: auto;
  padding: 0; }
  .bullets .bullet {
    float: left;
    margin: 0 3% 0 0;
    width: 30%; }
    .bullets .bullet:last-child {
      margin-right: 0; }
  .bullets .bullet-icon {
    background: #70BDAB;
    border-radius: 50%;
    color: #fff;
    float: left;
    height: 3.5em;
    padding: 0.875em;
    width: 3.5em; }
    .bullets .bullet-icon span {
      font-size: 27px; }
  .bullets .bullet-icon-1 {
    background: #F4CF39; }
    .bullets .bullet-icon-1 span {
      font-size: 29px;
      margin-left: 2px; }
  .bullets .bullet-icon-2 {
    background: #b2c559; }
  .bullets .bullet-icon-3 {
    background: #DC4F24; }
    .bullets .bullet-icon-3 span {
      font-size: 28px; }
  .bullets .bullet-content {
    margin-left: 4.9em;
    margin-bottom: 2em; }
  .bullets h2 {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    display: inline-block;
    font-size: 1.4em;
    margin: 0 0 0.58333em 0;
    padding-top: 0.5em; }
  .bullets li {
    list-style: none; }
  .bullets p {
    color: #333;
    line-height: 1.5em; }
  .bullets img {
    max-width: 100%; }

/* Components
 * -----------------------------------------------------------------------------*/
/* General */
header img {
  height: auto;
  max-width: 100%; }
header a.btn {
  float: right;
  margin-right: 4%; }
header h1 {
  color: #fff;
  padding: 6% 0 5%;
  text-align: center; }

.about header {
  height: 300px;
  overflow: hidden;
  position: relative; }
  .about header .navigation.top {
    background-color: #fff;
    overflow: hidden; }
  .about header img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1; }

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

#logo {
  background: url(../img/logo.png) no-repeat scroll 0 0;
  background-size: 148px 31px;
  display: block;
  float: left;
  height: 30px;
  margin: 6px 25px 9px 20px;
  width: 30px; }

.sliding-panel-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  width: 220px;
  height: 100%;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #333;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  @media screen and (min-width: 768px) {
    .sliding-panel-content {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      background: none;
      bottom: auto;
      float: left;
      height: auto;
      padding: 1.7% 2%;
      position: static;
      right: 0;
      top: 0;
      width: 50%; } }
  .sliding-panel-content ul {
    padding: 0;
    margin: 0; }
    .sliding-panel-content ul span {
      display: none; }
      @media screen and (min-width: 768px) {
        .sliding-panel-content ul span {
          color: #e6e6e6;
          display: inline; } }
  .sliding-panel-content li {
    list-style: none; }
    @media screen and (min-width: 768px) {
      .sliding-panel-content li {
        display: inline-block; } }
  .sliding-panel-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-size: .9em;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .sliding-panel-content li a {
        border-bottom: none;
        color: gray;
        padding: 1em .6em; } }
    .sliding-panel-content li a:focus {
      background-color: #404040; }
      @media screen and (min-width: 768px) {
        .sliding-panel-content li a:focus {
          background-color: transparent; } }
    .sliding-panel-content li a:hover {
      background-color: #b2c559;
      color: #fff; }
      @media screen and (min-width: 768px) {
        .sliding-panel-content li a:hover {
          background-color: transparent;
          color: #333; } }
  .sliding-panel-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

a.sliding-panel-button {
  color: #fff;
  float: right;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  outline: none;
  right: 0;
  top: 0; }
  a.sliding-panel-button img {
    height: 1.3em; }
  @media screen and (min-width: 768px) {
    a.sliding-panel-button {
      display: none; } }

#map_canvas {
  height: 300px;
  width: 100%; }

#map_canvas img {
  max-width: none; }

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em; }

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0; }

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0; }

.footer-2 {
  background: #1D1C17;
  padding: 1.5em;
  width: 100%;
  display: inline-block; }
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0; } }
  .footer-2 ul li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: white;
    text-decoration: none; }
    .footer-2 ul li a:focus, .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: 0.8em; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin: 1em 0 0 0; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      font-size: 1em;
      float: left;
      line-height: 0;
      margin: 0;
      padding-right: 0.7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      height: 1.6em;
      opacity: 0.7;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }

/*# sourceMappingURL=screen.css.map */
